<nav>
  <a href="/index.html"><img src="/img/logogym.jpg" alt="logoimage"></a>
  <div class="nav-links" id="navLinks">
    <i class="fa fa-times" onclick="hideMenu()"></i>
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="../html/aboutus.html">About Us</a></li>
      <li><a href="../html/classes.html">Classes</a></li>
      <li><a href="../html/blog.html">Blog page</a></li>
      <li><a href="../html/contactus.html">Contact Us</a></li>
    </ul>
  </div>
  <i class="fa fa-bars" onclick="showMenu()"></i>
</nav>
